---
layout: default
title: Home
---
<div id="header">
  
  <!--These two divs fill header with background-->
  <div class="medium-effect regular-bg"></div>
  <div class="medium-effect blur-bg"></div>

  <div class="container"> 
    <div class="row">
      <div class="col-md-12 text-center">
          <div>
            <h1 class="animated fadeIn">{{site.long_title}}</h1>
            <p class="animated fadeIn animation-delay-2">
              Yet another home page. This site is under construction now, but in a while it will be a worthy home page. Stay tuned.
            </p>
            <div class="social-icon-group animated fadeIn animation-delay-3">
              <a href="https://github.com/{{site.github_username}}">
                <i class="social-icon fa fa-github" data-toggle="tooltip" data-placement="bottom" title="Github"></i>
              </a>
              <a href="mailto:{{site.email}}">
                <i class="social-icon fa fa-envelope-o" data-toggle="tooltip" data-placement="bottom" title="Email"></i>
              </a>
              <a href="#">
                <i class="social-icon fa fa-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"></i>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="latest-blog section-spacing bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center animated fadeIn animation-delay-4">Blog posts</h2>
        <ul class="list-unstyled">
          {% for post in site.posts %}
            <li class="animated fadeIn animation-delay-4">
            <strong>
              {{ post.date | date: "%b %-d, %Y" }}
            </strong>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="projects section-spacing invert">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center animated fadeIn animation-delay-4">Current projects</h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <ul class="media-list">
          {% for project in site.data.projects %}
          <li class="media animated fadeIn animation-delay-4">
            <div class="media-left">
              <a href="{{project.image_target}}">
                <img class="media-object media-thumbnail" src="{{project.image_url}}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{project.title}} <small>{{project.title_small}}</small></h4>
              <p>{{project.description}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
 </div>
</div>

<div class="parallax-window">
  <!--picture goes here-->
</div>

<div class="education section-spacing bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center animated fadeIn">Education</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="media-list">
          {% for education in site.data.education %}
          <li class="media animated fadeIn">
            <div class="media-left">
              <a href="{{education.image_target}}">
                <img class="media-object media-thumbnail" src="{{education.image_url}}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{education.title}} <small>{{education.title_small}}</small></h4>
              <p>{{education.description}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="interests section-spacing invert">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
          <h2 class="text-center animated fadeIn">Interests</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 animated fadeIn">
          <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
          </ul>
      </div>
    </div>
  </div>
</div>